.content-area {
	 background-image: linear-gradient(to right bottom, #41c0d5, #38bbd7, #33b5d9, #32b0da, #35aadb);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;		
}
.card {
	max-width: 350px;
  width: 100%;
	background: #f7f7f7;
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.67); 
	box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.67);
}
.card__user-img {
  height: 70px;
  width: 70px;
  border: 2px solid #5b7676;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
}
.card__title {
	font-size: 30px;
	font-weight: 700;
	color: #1e1e1e;
	margin-bottom: 5px;
}
.card__subtitle {
	font-size: 18px;
	font-weight: 500;
	color: #1e1e1e;
	margin-bottom: 5px;
}
.card__social-group {
	width: 100%;
  margin: 0;
	padding: 20px 15px;
	display: flex;
	justify-content: space-around;
}
.card__social-link {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #5b7676;
	background: #f7f7f7;
	cursor: pointer;
	transition: .2s ease-in-out;
}
.card__social-link a {
	color: #1e1e1e;
	font-size: 25px;
	transition: .2s ease-in-out;
}
.card__social-link--ln {
	border: 1px solid #0e76a8;
}
.card__social-link--ln a {
	color: #0e76a8;
}
.card__social-link--ln:hover {
	background: #0e76a8;
	border: 1px solid #f7f7f7;
}
.card__social-link--ln:hover a {
	color: #f7f7f7;
}
.card__social-link--gm {
	border: 1px solid #DB4437;
}
.card__social-link--gm a {
	color: #DB4437;
}
.card__social-link--gm:hover {
	background: #DB4437;
	border: 1px solid #f7f7f7;
}
.card__social-link--gm:hover a {
	color: #f7f7f7;
}
.card__social-link--ig {
	border: 1px solid #8a3ab9;
}
.card__social-link--ig a {
	color: #8a3ab9;
}
.card__social-link--ig:hover {
	background: #8a3ab9;
	border: 1px solid #f7f7f7;
}
.card__social-link--ig:hover a {
	color: #f7f7f7;
}
.card__social-link--tw {
	border: 1px solid #00acee;
}
.card__social-link--tw a {
	color: #00acee;
}
.card__social-link--tw:hover {
	background: #00acee;
	border: 1px solid #f7f7f7;
}
.card__social-link--tw:hover a {
	color: #f7f7f7;
}
.card__button-group {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}
.card__button {
	padding: 15px 10px;
	color: #1e1e1e;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 700;
	margin-bottom: 15px;
	text-decoration: none;
	transition: .2s ease-in-out;
}
.card__button--portfolio {
	background: #EAEBEA;
  color: #1e1e1e;
	border: 2px solid #35AADB;
}
.card__button--portfolio:hover {
	background: #35AADB;
  color: #1e1e1e;
	border: 2px solid #35AADB;
}
.card__button--blog {
	background: #EAEBEA;
  color: #1e1e1e;
	border: 2px solid #38a502;
}
.card__button--blog:hover {
	background: #38a502;
  color: #1e1e1e;
	border: 2px solid #38a502;
}