.content-area {
	background: linear-gradient(to right bottom, #e0ffff, #c2e0e0, #a4c1c1, #88a4a4, #6c8787, #668181, #617c7c, #5b7676, #698484, #779293, #86a1a2, #95b0b1);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;		
}